@use './sideBar.scss';
@use './header.scss';

body {
  font-size: 100%;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
}

.home, .post, .setting {
  height: 100vh;
  display: flex;
  .body {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    .main {
      height: 100%;
      padding: 7rem 2rem 0 2rem;
      background: #F1F1F1;
      .sectionTitle {
        margin-bottom: 1rem;
        color: rgb(17, 16, 16);
        font-size: 2.25rem;
      }
      .dashBoardContent {
        padding: 1.5rem 2.5rem;
        background: #fff;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        h3 {
          margin-bottom: 2rem;
          color: rgb(31, 31, 31);
          font-size: 1.25rem;
        }
        p {
          margin-bottom: 1rem;
          color: rgb(58, 58, 58);
        }
        .postLink {
          padding: 0.8625rem 2rem;
          display: inline-block;
          color: #F1F1F1;
          background-color: #3B82F6;
          border-radius: 3px;
          transition: .5s;
          &:hover {
            background-color: rgba($color: #3B82F6, $alpha: 0.85);
          }
        }
      }
      .postTitle {
        margin-bottom: 2rem;
        display: flex;
        align-items: flex-end;
        .addPostBtn {
          padding: 0.5rem 0.75rem;
          display: inline-block;
          color: rgb(58, 58, 58);
          background-color: #fff;
          border-radius: 3px;
          outline: solid 1px rgb(58, 58, 58);
        }
      }
      .postList {
        width: 100%;
        color: rgb(58, 58, 58);
        border-radius: 3px;
        background-color: #fff;
        outline: solid 1px rgb(170, 170, 170);
        thead, tbody{
          .postListItem {
            .postListItemTitle {
              padding: 0.75rem 1.25rem;
              font-weight: 700;
              border-bottom: solid 1px rgb(170, 170, 170);
            }
            .postListItemContent {
              padding: 1.5rem 1.25rem;
            }
          }
        }
        thead {
          margin-bottom: 0.75rem;
        }
        tbody {
          .postListItem:nth-child(even) {
            background-color: #F1F1F1;
          }
        }
      }
    }  
    &::-webkit-scrollbar {
      width: 3px;
    }
  }
}

.post {
  .sectionTitle {
    margin: 0 2rem 0 0 !important;
  }
}