body {
  font-size: 100%;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
}

.home {
  height: 100vh;
  display: flex;
  .sideBar {
    width: 14rem;
    height: fit-content;
    min-height: 100vh;
    padding: 0.5rem 0.5rem;
    color: rgb(202, 196, 196);
    background-color: rgb(35,40,45);
    .sideMenu {
      .sideMenuItem {
        padding: 0.75rem 2rem;
        border-radius: 4px;
        .sideMenuLink {
          display: flex;
          align-items: center;
          .icon {
            margin-right: 2rem;
            .icons {  
              width: 2rem;
              height: 2rem;
            }
          }
        }
        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
        &:hover {
          background-color: rgb(97, 107, 117);
        }
      }
      .activeSideMenuItem {
        background-color: rgb(97, 107, 117) !important;
      }
    }
  }
  .body {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    .header {
      width: calc(100% - 14rem);
      height: 4.5rem;
      padding: 1rem 1rem;
      position: fixed;
      background-color: #fff;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
      .container {
        padding: 0rem 0;
        display: flex;
        .user {
          margin-left: auto;
          display: flex;
          align-items: center;
          .userName {
            margin-right: 1rem;
            color: rgb(58, 58, 58);
            font-size: 0.8625rem;
            font-weight: bold;
          }
          .userIcon {
            img {
              width: 2.5rem;
              height: 2.5rem;
              border-radius: 50%;
              object-fit: cover;
            }
          }
        }
      }
    }  
    .main {
      height: 100%;
      padding: 7rem 2rem 0 2rem;
      background: #F1F1F1;
      .sectionTitle {
        margin-bottom: 1rem;
        color: rgb(17, 16, 16);
        font-size: 1.75rem;
      }
      .dashBoardContent {
        padding: 2rem 3rem;
        background: #fff;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        h3 {
          margin-bottom: 2rem;
          color: rgb(31, 31, 31);
          font-size: 1.25rem;
        }
        p {
          margin-bottom: 1rem;
          color: rgb(58, 58, 58);
        }
        button {
          padding: 0.75rem 2rem;
          color: #F1F1F1;
          background-color: #3B82F6;
          border-radius: 3px;
        }
      }
    }  
    &::-webkit-scrollbar {
      width: 3px;
    }
  }
}